#sprite-parent{
  position: relative;
  top:0;
  left:0;
  max-width: 654px;
}

.spriteCol{
  max-width: 654px;
}
#background-stage{

  position: relative;
  top: 0;
  left: 0;
}

#terry-sprite{
position: absolute;
    left: 150px;
    bottom: 18px;
    height: 140px;

}
#rock-sprite{
  position:absolute;
  right:150px;
  bottom: 18px;
  height: 140px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.buttonsCol{
  display: flex;
  flex-direction:column;
  
  justify-content: center;
  
}

.buttonsCol>button{
  max-width:50%;
}